body {
    width: 100%;
    min-height: 800px;
    overflow-x: hidden;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #46647a;
}

img {
    width: 100%;
    height: auto;
    top: 0;
    opacity: 0.8;
}

#imgContainer {
    padding: 0;
}

#name {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: 'Handlee, cursive';
    position: absolute;
    top: 20%;
    right: 35%;
}

.btn {
    background-color: #46647a;
    color: #ffffff;
    font-weight: lighter;
    padding: 10px 20px;
}

.fas, .far, .fab  {
    font-size: 30px;
}

footer {
    background-color: #333333;
    width: 100vw;
    color: white;
    text-align: center;
    height: 70px;
    padding-top: 20px;
    margin-top: 300px;
}

@media (max-width: 600px) {
    nav {
        width: 600px;
    }

   #imgContainer {
       height: 100vh;
   }

   #name {
       top: 40%;
       right: 7%;
       font-size: 25px;
       font-weight: bolder;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   img {
       height: 95%;
   }

   .sticky-top {
       margin: 0;
       padding: 0;
   }

   #aboutContainer {
       margin-top: 70px;
       text-align: center;
   }


   #portfolioContainer {
       margin-top: 70px;
       text-align: center;
   }

   #myPortfolio {
       margin-bottom: 30px;
   }

   .card {
       margin-bottom: 20px;
   }

   #contactContainer {
       margin-top: 90px;
       text-align: center;
   }

   #contactBtn {
       background-color: #46647a;
       color: #ffffff;
       font-weight: lighter;
       padding: 10px 20px;
       font-family: none;
   }

   #aboutBtn {
    background-color: #46647a;
    color: #ffffff;
    font-weight: lighter;
    padding: 10px 20px;
}

   a:hover {
       text-decoration-line: none;
   }

   .w-100 {
       text-align: center;
       margin-top: 30px;
   }
}